#wrapper
  #header
    .div-container
      .logo
        %h1
          %a{:href=>'/'}
            %img{:src=>'/images/logo.png'}
      .user-menu
        .user-info
          .user-menu-avatar
            %img{:src=>'/images/no_avatar.png'}
          .user-menu-username Head Admin
          .sub-menu-admin
            %ul{:class=>'sub-menu-links'}
              %li
                %a{:class=>'with-border', :href=>'#'} Edit Profile
              %li
                %a{:href=>'#'} Logout
              %li
                %a{:href=>'#'} System Connections
      .header-menu
        %ul{:id=>'menu'}
          %li{:id=>'home-page'}
            %a{:href=>'#'} Home
          %li{:id=>'convene'}
            %a{:href=>'#'} Convene
          %li{:id=>'connect', :class=>'active'}
            %a{:href=>'#'} Connect
          %li{:id=>'collaborate'}
            %a{:href=>'#'} Collaborate
          %li{:id=>'careers'}
            %a{:href=>'#'} Careers
  #main-content
    .div-container
      .facebook-refresh
        .message Please refresh permissions for system Facebook connection
        .refresh-button
          %a{:id=>'facebook-connect', :href=>'#'} Refresh
      .connect-content
        %h2 Connect with other VX members
        #filter
          .filter-block
            %h3 Member filter
            %ul{:class=>'member-filter-links'}
              %li
                %a{:href=>'#'} New members
              %li
                %a{:href=>'#'} Recently viewed
              %li
                %a{:href=>'#'} Followed people
              %form{:method=>'post', :action=>''}
                %fieldset{:class=>'member-filter'}
                  %ul
                    %li
                      %input{:id=>'connect_filter_name', :name=>'connect_filter[name]', :type=>'text', :placeholder=>'Name...'}
                %input{:class=>'search-button', :type=>'submit', :value=>'Apply filters'}
              %a{:class=>'reset-filter', :href=>'#'} Reset Filter
          %a{:id=>'invite-member', :href=>'#'} Invite member
          %a{:id=>'new-member', :href=>'#'} Add new member
        #right
          %h3 Social Stream
          %ul#user-stream
            %li.stream_post
              .company-stream-post-div
                .company-stream-post-icon
                  %img.post-icon{:src=>'/images/TwitterIcon.png'}
                  %img.avatar{:src=>'/images/no_avatar.png'}
                .company-stream-post-name
                  %a.username{:href=>'#'}Eli Regardo
                  .date-via November 27, via twitter
              .company-post-text
                .message @ToniPanetta PS- I interviewed Doug Jackson this am for a video series we're doing for Project C.U.R.E.
          #user-load-more.load-more
            %a{:href=>'#'} Load More
        #content
          #select-view
            %span Full view
            %span.delimeter
            %a{:href=>'#'} Short View
            %form#per-page-form{:method=>'post', :action=>'#'}
              = select_tag('connect_filter[per_page]', options_for_select([['10',10], ['20', 20], ['50', 50], ['100', 100]], 20))

          %form#users{:method=>'post', :action=> '#'}
            %table
              %thead
                %tr.titles
                  %td.title-checkbox{:align=>'center'}
                    %input#select_all{:type=>'checkbox'}
                  %td{:align=>'center'}
                    %a{:href=>'#', :title=>'Sort by Name from A to Z'}Name
                  %td{:align=>'center'}
                    %a{:href=>'#', :title=>'Sort by Company from A to Z'}Company
                  %td{:align=>'center'}
                    %a{:href=>'#', :title=>'Sort by City from A to Z'}City
                  %td{:align=>'center'}
                    %a{:href=>'#', :title=>'Sort by State from A to Z'}State
                  %td{:align=>'center'}
                    %a{:href=>'#', :title=>'Sort by Follow from A to Z'}Follow
              %tbody
                - @users.each do |user|
                  %tr{:class => "#{user.id.odd? ? 'dark-tr' : 'light-tr'}" }
                    %td
                      .user-checkbox-div
                        %input.user_checkbox{:type=>'checkbox', :value=> "#{user.id}", :name=>'user[]'}
                        %img.avatar{:src=>'/images/no_avatar.png'}
                    %td
                      .user_name
                        %a{:href=>'#'} #{user.full_name}
                      .position #{user.position}
                      .user-email
                        %a{:href=>'mailto:pamjeffords@thevx.com'} #{user.email}
                      - if user.is_founding
                        .founding_member Founding Member
                    %td.user-company{:align=>'center'}
                      %a{:href=>'#'} #{user.company.name}
                    %td.user-city{:align=>'center'} #{user.city}
                    %td.user-state{:align=>'center'} #{user.state}
                    %td.user-status{:align=>'center'}
                      %a{:href=>'#'} Follow
            .connect-bottom-panel
              = select_tag('group_action', options_for_select([['Select action', ''], %w(Follow follow), %w(Unfollow un_follow), %w(Delete delete)]))

              = will_paginate(@users)

  #footer
    .div-container
      .footer-menu
        %ul.footer-menu-items
          %li
            %a{:href=>'#'}About Us
          %li
            %a{:href=>'#'}Managing Directors
          %li
            %a{:href=>'#'}Contact Us
          %li
            %a{:href=>'#'}F.A.Q.

        .copyright © TheVX.com, 2013. All Rights Reserved
